@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Raleway', 'Source Sans Pro', sans-serif;
  line-height: 1.2;
}

html, body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
 }


#particles-js {
  background: rgb(15, 15, 15);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#main {
  position: absolute;
  top: 36%;
  left: 20%;
  text-align: left;
  animation: transitionIn 1.5s;
}

#info {
  animation: transitionIn 1.5s;
}

#contact {
  animation: transitionIn 3s;
}

h1 {
  font-size: 3em;
  font-weight: 800;
}

/* Rainbow text */
.linear-wipe {
  text-align: left;
  
  background: linear-gradient(90deg, #00ffff 0%, #0004ff 33%, #ff00f2 66%, #00ffff 100%);
  background-size: 400%;

  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 20s linear infinite;
}

@keyframes shine {
  0% {
    -webkit-background-clip: text;
    background-position: 400% right;
  }
  100% {
    -webkit-background-clip: text;
    background-position: 400% center;
  }
}

ul {
  list-style-position: inside;
  list-style-type: square;
  line-height: 1.2;
}

a {
  color: white;
  transition: 0.5s;
}

a:hover {
  color: #00d9ff;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
