@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Quicksand', 'Source Sans Pro', sans-serif;
}

html,
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
 }


#particles-js {
  background: rgb(15, 15, 15);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#main {
  /* Move to middle */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  min-height: 15%;
  max-height: 100%;
  width: 400px;
  min-width: 20%;
  max-width: 100%;

  text-align: center;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .05);
  border-radius: 10px;

  backdrop-filter: blur(8px);
}

h1 {
  font-size: 5em;
  font-weight: 700;
}

.linear-wipe {
  text-align: center;
  
  background: linear-gradient(45deg, #00ffff 0%, #0004ff 33%, #ff00f2 66%, #00ffff 100%);
  background-size: 400%;

  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 30s linear infinite;
}

@keyframes shine {
  0% {
    -webkit-background-clip: text;
    background-position: 400% right;
  }
  100% {
    -webkit-background-clip: text;
    background-position: 400% center;
  }
}