* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
}

html,
body {
  max-width: 100vw;
  font-size: var(--font-size-body);
  background-color: var(--background);
  color: var(--secondary-foreground);
  font-family: "Times New Roman", serif;
  line-height: var(--line-height-body);
}

button {
  all: unset;
  cursor: pointer;
  color: var(--secondary-foreground);
  transition: color var(--transition-duration);
}

button:hover {
  color: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--secondary-foreground);
  transition: color var(--transition-duration);
}

a:hover {
  color: var(--accent-color);
}

p {
  padding: 0.15rem 0rem;
}

table {
  border-collapse: collapse;
  margin: 1rem auto;
  font-size: 1em;
  width: 100%;
}

th,
td {
  padding: 12px 15px;
}

thead > tr {
  text-align: left;
  border-bottom: 1px solid var(--secondary-foreground);
}

ol,
ul {
  margin: 0.25rem 0.5rem;
  padding-left: 1rem;
}

li {
  padding: 0.05rem 0rem;
}

hr {
  margin: 0.6rem 0rem;
  height: 1px;
  background-color: var(--secondary-foreground);
  border: none;
}

pre {
  margin: 1rem 0;
  overflow-x: auto;
}

img {
  display: block;
  margin: 20px auto;
  width: 80%;
}

blockquote {
  color: var(--tertiary-foreground);
  border-left: 3px solid var(--tertiary-foreground);
  margin: 1rem 0rem;
  padding: 0rem 1rem;
  opacity: 60%;
}

mjx-math {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary-foreground);
}
