@import "hljs.css";
@import "base.css";
@import "typography.css";
@import "tikz.css";

:root {
  color-scheme: light dark;

  --background: #FFFFFF;
  --secondary-background: #F4F4F4;

  --primary-foreground: #000000;
  --secondary-foreground: #333333;
  --tertiary-foreground: #5F5F5F;
  --accent-color: #007BFF;
  --secondary-accent-color: #66B2FF;

  --font-size-body: large;
  --line-height-body: 1.3rem;
  --line-height-heading: 2rem;

  --font-size-h1: 2rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.6rem;
  --font-size-h4: 1.4rem;
  --font-size-h5: 1.2rem;

  --space-h1: 14px;
  --space-h2: 12px;
  --space-h3: 10px;
  --space-h4: 8px;
  --space-h5: 6px;

  --transition-duration: 0.25s;
}

[data-theme="dark"] {
  --background: #1A1A1A;
  --secondary-background: #222222;

  --primary-foreground: #FFFFFF;
  --secondary-foreground: #E0E0E0;
  --tertiary-foreground: #A0A0A0;
  --accent-color: #63B3ED;
  --secondary-accent-color: #9AC8F5;
}
