/* Handle code block theme (Highlight.js) */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.2rem;
}

:root {
  --hljs-white: rgb(248, 248, 248);
  --hljs-grey: rgb(190, 190, 190);
  --hljs-black: rgb(25, 25, 25);

  --hljs-background: var(--hljs-white);
  --hljs-color: var(--hljs-black);
}

[data-theme='dark'] {
  --hljs-background: var(--hljs-black);
  --hljs-color: var(--hljs-grey);
}

.hljs {
  background: var(--hljs-background);
  color: var(--hljs-color);
}

.hljs-comment {
  color: #8e7c7c;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
  font-weight: bold;
  color: #ff0000;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-literal,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #cc0014;
}

.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-attribute,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-type,
.hljs-bullet {
  color: #d80044;
}

.hljs-built_in {
  color: #ff5555;
}

.hljs-emphasis {
  font-style: italic;
}