/* Handle code block theme (Highlight.js) */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.2rem;
}

.hljs {
  background: var(--secondary-background);
  color: var(--primary-foreground);
}

.hljs-comment {
  color: var(--tertiary-foreground);
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
  font-weight: bold;
  color: var(--accent-color);
}

.hljs-string,
.hljs-literal,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-selector-id,
.hljs-selector-class {
  color: var(--accent-color);
}

.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-attribute,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-type,
.hljs-bullet {
  color: var(--primary-foreground);
}

.hljs-built_in {
  color: var(--accent-color);
}

.hljs-emphasis {
  font-style: italic;
}