.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.body {
  color: inherit;
}

.body>* {
  padding: 0px 3px;
}

.posts {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  transition: visbility 0s;
}
