.main {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  color: inherit;
  position: relative;
  display: inline-block;
}

.buttons>* {
  padding: 0px 8px;
  font-size: large;
}