.header {
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article {
  width: clamp(min(90vw, 480px), 60%, 800px);
}

.description {
  text-align: center;
  color: var(--foreground);
  font-style: italic;
}

.date {
  text-align: center;
  color: var(--foreground);
  opacity: 80%;
  font-size: 0.8rem;
}
