.posts {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 30px;
  padding-bottom: 30px;
  max-width: min(90vw, 450px);
  min-width: min(90vw, 450px);
}

.post {
  display: flex;
  flex-direction: row;
  padding: 0.6rem 0rem;
}

.post:hover .date,
.post:hover .title,
.post:hover .description {
  color: var(--secondary-accent-color);
}

.date {
  width: 25%;
  text-align: right;
  padding-right: 1rem;
  color: var(--tertiary-foreground);
  transition: color var(--transition-duration);
  font-size: medium;
}

.content {
  width: 75%;
  text-align: left;
  overflow: wrap;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--primary-foreground);
  transition: color var(--transition-duration);
  font-variant: small-caps;
}

.description {
  color: var(--tertiary-foreground);
  transition: color var(--transition-duration);
  font-size: medium;
  font-style: italic;
}
