.posts {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 30px;
  padding-bottom: 30px;
  opacity: 90%;
  max-width: min(90vw, 400px);
  font-size: medium;
}

.post {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0rem;
}

.date {
  width: 25%;
  text-align: right;
  padding-right: 0.5rem;
}

.content {
  width: 75%;
  text-align: left;
  overflow: wrap;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

.description {
  font-style: italic;
}