.writings {
  display: block;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 30px;
  padding-bottom: 30px;
  max-width: min(90vw, 1rem);
  min-width: min(90vw, 600px);
}

.writings h1 {
  transition: color var(--transition-duration);
}

.writings h1:hover {
  color: var(--secondary-accent-color);
}

.writing {
  display: flex;
  flex-direction: row;
  padding: 0.8rem 0rem;
}

.writing:hover .date,
.writing:hover .title,
.writing:hover .description {
  color: var(--secondary-accent-color);
}

.date {
  width: 30%;
  text-align: right;
  padding-right: 1rem;
  color: var(--tertiary-foreground);
  transition: color var(--transition-duration);
  font-size: large;
}

.content {
  width: 70%;
  text-align: left;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--primary-foreground);
  transition: color var(--transition-duration);
  font-variant: small-caps;
  font-size: 1.2rem;
  font-weight: 100;
  padding-bottom: 4px;
}

.description {
  color: var(--tertiary-foreground);
  transition: color var(--transition-duration);
  font-size: large;
  font-style: italic;
}

.clickableHeading {
  cursor: pointer;
}
