.writings {
  display: block;
  z-index: 1;
  margin-top: 0;
  padding-bottom: 30px;
  width: min(90vw, 480px);
}

.writings h1 {
  transition: color var(--transition-duration);
  margin-bottom: 1rem;
}

.writings h1:hover {
  color: var(--secondary-accent-color);
}

.writing {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.writing:hover .title {
  color: var(--accent-color);
}

.meta {
  color: var(--quaternary-foreground);
  transition: color var(--transition-duration);
  font-size: 0.85rem;
  margin-bottom: 0;
}

.sep {
  margin: 0 4px;
}

.type {
  text-transform: uppercase;
  font-size: 0.8em;
}

.title {
  color: var(--primary-foreground);
  transition: color var(--transition-duration);
  font-variant: small-caps;
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 4px;
}

.description {
  color: var(--tertiary-foreground);
  transition: color var(--transition-duration);
  font-size: 0.95rem;
  font-style: italic;
}

.clickableHeading {
  cursor: pointer;
}
